body {
  margin: 0;
}

/* Header animation */
header {
  transition: transform 200ms ease-in-out;
}
header.closed {
  transform: translateY(-50vh);
}

nav {
  height: 50vh;
}
.header-bar {
  padding: 20px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-between;
}
nav {
  position: relative;

  background-color: rgb(57, 57, 57);
  color: white;
}
nav a {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  background-color: black;
  color: white;
}
nav a:hover {
  color: black;
  background-color: white;
}
/* Header LINK animation */
header nav a {
  transition: all 200ms ease-out;
}

header.closed nav a {
  transform: translateY(-60vh);
}

nav a:nth-child(1) {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  left: 50%;
  top: 50%;
}
nav a:nth-child(2) {
  width: 200px;
  height: 200px;
  border-radius: 50%;


  right: 50%;
  top: 50%;
  transform: rotate(-20deg);
  /* Header LINK delay  */
  transition-delay: 200ms;
}
nav a:nth-child(3) {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  right: 50%;
  bottom: 50%;
  /* Header LINK delay  */
  transition-delay: 100ms;
}